# 1. 첨부한 파일을 불러오시오.

In [9]:
import pandas as pd
secc = pd.read_csv('../data/01. CCTV_in_seoul.csv', sep=',')

# 2. CCTV가 가장 적은 구는?

In [10]:
secc.sort_values(by=['소계']).head(5)

    기관명   소계  2013년도 이전  2014년  2015년  2016년
9   도봉구  485        238    159     42    386
12  마포구  574        314    118    169    379
17  송파구  618        529     21     68    463
24  중랑구  660        509    121    177    109
23   중구  671        413    190     72    348

# 3. CCTV가 가장 많은 구는?

In [11]:
secc.sort_values(by=['소계'], ascending= False).head(5)

    기관명    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398

# 4.CCTV 증가율 컬럼을 추가하시오

In [12]:
secc['CCTV증가율'] = (secc['2016년'] +secc['2015년'])/ secc['2014년']*100

# 5. 2014년 대비 CCTV 증가율이 가장 높은 구는?

In [21]:
secc[secc['CCTV증가율'] == secc['CCTV증가율'].max()]

     기관명    소계  2013년도 이전  2014년  2015년  2016년     CCTV증가율
10  동대문구  1294       1070     23    198    579  3378.26087